/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;
  --footer-height: 80px;
  --mobile-footer-height: 120px;
}

@layer base {
  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @font-face {
    font-family: Geist;
    font-weight: 1 999;
    src: url(../../public/fonts/GeistVF.woff) format('woff');
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
